<server description="Sample Liberty server">

  <featureManager>
      <feature>jsp-2.3</feature>
  	<feature>appSecurity-2.0</feature>
	</featureManager>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" host="*" />

	<library id="frmk">
		<fileset dir="resources/frmk" includes="*.*" />
	</library>

  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true"/>

	<basicRegistry id="basic" realm="customRealm">
	     <user name="user" password="user" />
	     <user name="admin" password="admin" />
     	<group name="Autenticados">
         	<member name="user" />
         	<member name="admin" />
    	 </group>	     
	</basicRegistry>

  <webApplication name="respadel" location="${app.location}">
  		<classloader delegation="parentFirst" privateLibraryRef="frmk">
		</classloader>
  </webApplication>
</server>
