<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iberdrola.respadel.dao.AdminMapper">

  <cache />

  <select id="getAdmin" resultType="string" parameterType="string">
    SELECT
          ID_ADMIN
    FROM admin
    WHERE ID_ADMIN = #{value}
  </select>

</mapper>